{% macro show_feature(name, value) -%}
                        <br>
                        <li>{{ name }}: <strong>{{ value }}</strong></li>
{%- endmacro %}
{% macro show_stat(name, value, color) -%}
                        <li>{{ name }}</li>
                        <li><strong class="text-{{ color }}">{{ value }}</strong></li>
                        <br>
{%- endmacro %}
{% macro show_hero(hero, color) -%}
                <div class="col-md-4 col-md-offset-2">
                    <ul class="text-center list-unstyled">
                        <li>Season {{ hero.seasonCreated }}{% if hero.hardcore %}, Hardcore{% endif %}</li>
                        {{ show_feature('Name', hero.name) }}
                        {{ show_feature('Class', hero.class) }}
                        {{ show_feature('Sex', hero.gender) }}
                        {% if hero.class == 'Wizard' %}
                        <li><img src="{{ url_for('static', filename='img/wiz_icon.png') }}" alt="Wizard Icon" class="img-rounded center-block"></li>
                        {% elif hero.class == 'Demon Hunter' %}
                        <li><img src="{{ url_for('static', filename='img/dh_icon.png') }}" alt="Wizard Icon" class="img-rounded center-block"></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="text-center list-unstyled">
                    {{ show_stat('Level', hero.level, color) }}
                    {% if hero.class == 'Wizard' %}
                    {{ show_stat('Intelligence', hero.stats.intelligence, color) }}
                    {% elif hero.class == 'Demon Hunter' %}
                    {{ show_stat('Dexterity', hero.stats.dexterity, color) }}
                    {% endif %}
                    {{ show_stat('DPS', hero.stats.damage, color) }}
                    {{ show_stat('Life', hero.stats.life, color) }}
                    {{ show_stat('Elite Kills', hero.kills.elites, color) }}
                    <ul>
                </div>
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sieggi vs Wolf</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>

    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Sieggi vs Wolf</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="lead text-center">Two brothers began a journey in
                August 2014 with the release of Seasons for Diablo 3: Reaper of
                Souls.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar {{ profbprogressclass }}"
                         style="width: {{ profbprogresswidth }};">
                    </div>
                    <div class="progress-bar {{ profaprogressclass }}"
                         style="width: {{ profaprogresswidth }};">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h2 class="text-center">Sieggi (thespoon3)</h2>
                    <img src="{{ url_for('static', filename='img/crossed_spoons.png') }}" alt="Crossed Spoons" class="img-rounded center-block">
                </div>
                {{ show_hero(profbhero, 'success') }}
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h2 class="text-center">Wolf (theonewolf)</h2>
                    <img src="{{ url_for('static', filename='img/wolf.png') }}"
                         alt="Wolf" class="img-rounded center-block">
                </div>
                <div class="row">
                {{ show_hero(profahero, 'danger') }}
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </div>
    </body>
</html>
